.block-955{
	max-width: 925px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.block-1440{
	max-width: 1440px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.innerpage-con-wrap{
	overflow: hidden;
	position: relative;
}
.default-page-con {
	padding-bottom: 155px;
	padding-top: 0;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.dfp-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 20px;
	line-height: 1.1;
}
.dfp-promo-module-title{
	color: #243444;
	text-transform: uppercase;
}
.dfp-text-module{
    padding-bottom: 8px;
}
.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 10px;
}
.default-page-con ul li,
ul li {
	padding: 7px 0 7px 18px;
	position: relative;
	line-height: 22px;
}

.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	width: 8px;
	height: 8px;
	background: #D2232A;
	border-radius: 100%;
}
ul li.refGridItem:before{
	display: none;
}
.default-page-con ol, ol {
	padding: 0 0 0 0;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 8px;
	line-height: 24px;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) ".";
	color: #D2232A;
	font-weight: 700;
	margin-right: 4px;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	padding: 0 5.5px 0 1px;
}
.default-page-con p {
    margin-bottom: 25px;
}

.dfp-promo-module{
	padding-bottom: 40px;
}

.dfp-promo-module h1,
.dfp-promo-module-title{
	font-weight: 600;
	display: block;
	margin-bottom: 38px;
	letter-spacing: -0.02em;
}
.dfp-plate-one-img-bx img{
	width: 100%;
}
.dft-hm-product-module .fl-pro-grd-title{
	margin-bottom:3px;
}

.ac-fancy-module{
	overflow: hidden;
	max-width: 100%;
    width: 100%;
    height: 615px;
    position: relative;
    margin-bottom: 0;
}
.fancy-img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ac-fancy-module:hover .fancy-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.ms-video-play-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    color: #E48AA4;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 1;
}



.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 40px;
	display: flex;
	align-items: center;
}
.fl-dft-lftimg-rgtdes-lft{
	min-height: 328px;
}
.fl-dft-lftimg-rgtdes-lft-img-scale{
	position: relative;
	overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
	background-size: cover!important;
	background-repeat: no-repeat!important;
	background-position: center center!important;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	float: left;
	position: relative;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 26px;
	padding-bottom: 5px;
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-testi-controller{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}


.fl-dft-lftimg-rgtdes-lft i{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}
.fl-dft-lftimg-rgtdes-lft span{
	position: absolute;
	right: 15px;
	bottom: 15px;
}

/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 10px;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
	order: 2;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 42px;
}



.dft-2grd-img-con-item{
	position: relative;
}



.default-page-con hr{
	border-top: 2px solid #F1E8E1;
	margin-bottom: 30px;
	margin-top: 0;
}

/*
Gallery design
*/

.gallery-wrap{
	padding-top: 12px;
	padding-bottom: 10px;
}
.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}


/*table*/

.dfp-tbl-wrap{
	padding-top: 10px;
	margin-bottom: 60px;
}

.table-dsc{
	padding: 0;
	background-color: transparent;
	border-top: none;
	border-top: 1px solid #edeef0;
	

}
.table-dsc table tbody tr td:last-child{
	padding-left: 0;
	padding-right: 36px;
}

.table-dsc table tbody tr td:first-child,
.table-dsc table tbody tr td:last-child{
	color: #212529;
	font-weight: 700;
}

.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
}

.table-dsc table tbody{

}

.table-dsc table tr th:last-child,
.table-dsc table tr td:last-child{
    padding-left: 0;
}
.table-dsc table tr th:last-child span{
	border-right: none;
}

.table-dsc table tbody tr:first-child td span{
	display: block;
}
.table-dsc table tbody tr:first-child td:last-child span{
	border-right: none;
}
.table-dsc table tbody tr td:first-child span{
	font-weight: 700;
	border-bottom: none;
}
.table-dsc table thead tr th:first-child,
.table-dsc table tbody tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	width: 110px;
	text-align: left;
}

.table-dsc table tr th {
	border: none;
	color: #202020;
	font-weight: 700;
	padding: 15px 0;
	letter-spacing: 0.03em;
	font-size: 12px;
	line-height: 14px;
	text-transform: uppercase;
}
.table-dsc table tr th span{
	display: block;
}
.table-dsc table thead th span{
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #243444;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td{
	padding-left: 15px;
	padding-right: 0;
}


.table-dsc table thead tr th:first-child,
.table-dsc table thead tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;
}


.table-dsc table tbody{
	border-top: 0;
	margin: 0 3px;
}
.table-dsc table tbody tr td span{
	padding-top: 12px;
	padding-bottom: 12px;
}
.table-dsc table span{
	display: block;
}
.table-dsc table tbody tr td{
	border-top: 1px solid #edeef0;
}
.table-dsc table tbody tr:last-child span{
	border-bottom: none;
}

.table-dsc table tbody tr{
	border-left: 0;
	border-right: 0;
}


.dfp-cta-module{
	margin-bottom: 35px;
}



.cta-ctlr{
	text-align: center;
	color: #fff;
	padding: 65px 20px;
	background: #2285E3;
}
.cta-title{
	color: #fff;
	margin-bottom: 12px;
}
.cta-btn .fl-trnsprnt-btn{
	border-color: #fff;
	padding: 17px 66px;
	color: #fff;
}
.cta-btn .fl-trnsprnt-btn:hover{
	border-color: #EC5387;
}
.dfp-faq-module{
	margin-top: 20px;
	padding: 90px 115px 75px 115px;
	background: #F8F8F8;
	margin-bottom: 67px;
}
.dfp-faq-module .mct-faq-accordion-ctlr{
	width: 100%;
}
.dfp-faq-module .mct-faq-accordion-ctlr ul li{
	width: 100%;
	padding: 0;
	padding-bottom: 30px;
}
.dfp-faq-module .mct-faq-accordion-ctlr ul li:last-child{
	padding-bottom:0px;
}
.dfp-faq-module .mct-faq-accordion{
	padding: 30px 40px;
}
.dfp-faq-module .mct-faq-accordion-title{
	margin-bottom: 0!important;
	text-transform: initial;
}
.dfp-faq-module .mct-faq-title{
	text-align: center;
}
.dfp-faq-module .mct-faq-title span{
	display: none;
}
.dfp-box-grd-module{
	padding-top: 30px;
	margin-bottom: 67px;
}

.dfp-our-service-module{
	margin-bottom: 15px;
}

/*news details */



@media(max-width: 1499px){
	.block-1440{
		padding-left: 15px;
		padding-right: 15px;
	}
	.hm-product-module .hm-product-grds{
		margin-left: -10px;
		margin-right: -10px;
	}
}

@media(max-width: 1199px){
	.block-955{
		padding-left: 15px;
		padding-right: 15px;
	}
	.dfp-faq-module {
	    padding: 70px 90px 65px 90px;
	}
}


@media(max-width: 991px){
	.dfp-promo-module {
	    padding-bottom: 30px;
	}
	.default-page-con{
		padding-bottom: 80px;
	}
	.dfp-faq-module {
	    padding: 55px 50px 50px 50px;
	}
	.ac-fancy-module{
		height: 500px;
	}
	.ms-video-play-cntlr{
		width: 100px;
    	height: 100px;
	}
	.dfp-faq-module .mct-faq-accordion {
	    padding: 25px 30px;
	}
	.dfp-faq-module{
		margin-bottom: 50px;
	}
}
@media(max-width: 850px){
	
}

@media(max-width: 767px){
	.dfp-promo-module {
	    padding-bottom: 25px;
	    border-bottom: 1px solid #F3F3F3;
	    margin-bottom: 15px;
	}
	#faq-details .dfp-promo-module{
		border-bottom:none;
	}
	.dfp-promo-module > strong{
		font-size: 24px;
		line-height: 30px;
	}
	.default-page-con .dft-grd-col-list-item ul {
	    width: 100%;
	}
	.dft-img-title-grd-col{
		width: 100%;
		float: none;
	}
	.default-page-con{
		padding-bottom: 100px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 20px;
	}
	.dfp-tbl-wrap{
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	.dft-cr-leg-post-grid-module.show-sm{
		margin-bottom: 0;
	}
	.default-page-con{
		padding-bottom: 70px;
		padding-top: 35px;
	}
	.table-dsc {
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	}
	.table-dsc::-webkit-scrollbar{
	  height: 6px;
	}
	.table-dsc::-moz-scrollbar{
	  height: 6px;
	}
	.table-dsc::-ms-scrollbar{
	  height: 6px;
	}
	.table-dsc::-webkit-scrollbar-thumb{
	  background: #2285E3;
	  border-radius: 4px;
	}
	.table-dsc::-moz-scrollbar-thumb{
	  background: #2285E3;
	  border-radius: 4px;
	}
	.table-dsc::-ms-scrollbar-thumb{
	  background: #2285E3;
	  border-radius: 4px;
	}
	.table-dsc table {
	    width: 700px;
	}
	.default-page-con h2 {
	    margin-bottom: 20px;
	}
	.default-page-con p {
	    margin-bottom: 20px;
	}
	.default-page-con ol li, ol li{
		padding-bottom: 10px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 280px;
	}
	.dfp-single-img-slider-module .verblijf-slider-ctlr .slick-slider ul.slick-dots {
	    bottom: -30px;
	}
	.dfp-des-lft,
	.dfp-des-rgt{
		padding-right: 20px;
	}
	.dfp-text-module{
		padding-right: 10px;
	}
	.dfp-text-module h3{
		display: none;
	}
	.dfp-promo-module h1, 
	.dfp-promo-module-title{
		margin-bottom: 30px;
		text-align: center;
	}
	.gallery-wrap{
		padding-bottom: 0;
	}
	.ac-fancy-module{
		height: 400px;
		margin-bottom: 0;
	}
	.cta-ctlr {
	    padding: 75px 20px;
	}
	.cta-ctlr p br{
		display: none;
	}
	.hm-product-module .hm-product-grds {
	    margin-left: 0;
	    margin-right: 0;
	}
	.hm-product-module .hmProdctGrdsSlideItme{
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.hm-product-module .hmProdctGrdsSlideItme .fl-product-grd{
		max-width: 350px;
		width: 100%;
		margin: 0 auto;
	}
	.hm-product-module {
	    margin-bottom: 20px;
	}
	.dfp-slider-module {
	    margin-top: 50px;
	}
	.dfp-btn-module {
	    margin-bottom: 30px;
	    padding-top: 15px;
	}
	.mct-faq-title{
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	.dfp-faq-module {
	    padding: 45px 30px 30px 30px;
	}
	
	.fl-dft-lftimg-rgtdes{
		display: block;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt{
		width: 100%;
		margin-bottom: 30px;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt{
		width: 100%;
		padding: 0;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes {
	    padding-top: 0;
	}
	.fl-dft-lftimg-rgtdes{
		padding-bottom: 0;
	}
	.ms-video-play-cntlr {
	    width: 80px;
	    height: 80px;
	}
	.dfp-faq-module .mct-faq-accordion-ctlr ul li {
	    padding-bottom: 20px;
	}
	.dfp-faq-module .mct-faq-accordion {
	    padding: 25px 20px;
	}
	.dfp-faq-module{
		margin-bottom: 40px;
	}
	.dfp-our-service-module {
	    margin-bottom: 35px;
	}
	.dfp-faq-module .mct-faq-title span{
		display: inline-block;
	}
}



@media(max-width: 639px){
	
	
}



@media(max-width: 575px){
	.dfp-promo-module {
	    padding-bottom: 30px;
	}
	.gallery {
	    margin-left: -5px;
	    margin-right: -5px;
	    padding-bottom: 5px;
	}
	.gallery-item {
	    padding: 0 5px;
	    margin-bottom: 10px;
	}
	.default-page-con ol,
	.default-page-con ul,
	ol,ul{
		padding-left: 0;

	}
	.default-page-con ol li, ol li {
	    padding-bottom: 6px;
	}
	.default-page-con ol li::before, ol li::before{
		margin-right: 5px;
	}
	.dft2grdImgConSlider .slick-prev, 
	.dft2grdImgConSlider .slick-next{
		width: 34px;
		height: 34px;
		background-size: 100% 100%;
		top: 95px;
		transform: initial;
		z-index: 10;
	}
	.dft2grdImgConSlider .slick-prev{
		background: url(../images/prev-arrow-xs.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
	}
	.dft2grdImgConSlider .slick-next{
		background: url(../images/next-arrow-xs.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		right: 0;
	}
	.dft2grdImgConSlider .slick-prev:before, 
	.dft2grdImgConSlider .slick-next:before{
		content: none;
	}
	.default-page-con{
		padding-bottom: 50px;
	}
	.dft-2grd-img-con-item-des h4{
		margin-bottom: 15px;
	}
	.default-page-con p {
	    margin-bottom: 15px;
	}
	.default-page-con ul li, ul li {
	    padding: 2px 0 8px 15px;
	    line-height: 18px;
	}
	.default-page-con ul li::before, ul li::before{
		margin-top: -3px;
	}
	.default-page-con h1, .default-page-con h2, .default-page-con h3, .default-page-con h4, .default-page-con h5 {
	    margin-bottom: 20px;
	}
	.dfp-plate-one-img-bx .dft-blog-item-des-date{
		display: none;
	}
	.fl-dft-lftimg-rgtdes-lft i svg{
		width: 50px!important;
		height: 50px!important;
	}
	.fl-dft-lftimg-rgtdes-lft span svg{
		width: 30px!important;
		height: 31px!important;
	}
	.dfp-cta-module {
	    margin-bottom: 45px;
	}
	.ac-fancy-module{
		height: 350px;
	}
	.ms-video-play-cntlr{
		height: 55px;
		width: 55px;
	}
	.default-page-con hr{
		margin-bottom: 22px;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 0;
	}
	.dfp-btn-module a{
		width: 154px!important;
		height: 40px!important;
	}
	.dfp-des-lft,
	.dfp-des-rgt{
		padding-right: 10px;
	}
	.pn-con-bar {
	    margin-bottom: 20px;
	}
	.dfp-slider-module {
	    margin-top: 25px;
	}
	
	.dfp-single-img-module {
	    margin-top: 0;
	}
	.dfp-faq-module {
	    padding: 35px 25px 30px 25px;
	}
	.dfp-faq-module .mct-faq-accordion-ctlr ul li {
	    padding-bottom: 10px;
	}
	.dfp-faq-module{
		margin-bottom: 30px;
	}
	.dfp-box-grd-module {
	    padding-top: 10px;
	    margin-bottom: 40px;
	}
}


@media(max-width: 479px){
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 215px;
	}
	.dfp-cta-module {
	    margin-bottom: 25px;
	}
	.ac-fancy-module{
		height: 300px;
	}
	.dfp-btn-int{
		padding-right: 0;
		padding-bottom: 20px;
	}
	.dfp-btn-module{
		margin-bottom: 0;
		padding-top: 0;
	}
	.dfp-btn-int{
		display: block;
	}
	.dfp-btn-int .fl-trnsprnt-btn{
		padding: 12px 45px;
	}
	.dfp-slider-module {
	    margin-top: 0;
	}
	.dfp-faq-module{
		margin-left: -15px;
		margin-right: -15px;
	}
	.ms-video-play-cntlr {
	    height: 36px;
	    width: 36px;
	}
	
}



@media(max-width: 359px){
	.dfp-faq-module .mct-faq-accordion {
	    padding: 25px 15px;
	}
	.ac-fancy-module{
		height: 215px;
	}
}
