/*
---------------------
contact-info-sec-wrp
---------------------
*/
.contact-info-sec-wrp{
	padding-bottom: 70px;
}
.contact-info-dsc{
	max-width: 670px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}
.contact-info-dsc-title.fl-h1{
	font-size: 30px;
	line-height: 1;
	margin-bottom: 10px;
}
.contact-info-dsc p{
	color: #243444;
	margin-bottom: 50px;
}
.contact-info-box-wrp ul{
	margin: 0 -12px;
}
.contact-info-box-wrp ul li{
	width: 33.3333%;
	float: left;
	padding: 0 12px;
}
.contact-info-box-inr{
	background: #243444;
	padding: 50px 30px 35px;
}
.contact-info-box-dsc{
	text-align: center;
}
.contact-info-box-dsc .fl-h4{
	color: #fff;
	margin-bottom: 15px;
}
.contact-info-box-dsc i{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 15px;
}
.contact-info-box-dsc a{
	display:block;
	text-decoration: none;
	font-size: 20px;
	line-height: 1;
	color: #fff;
	font-weight: 400;
	padding-bottom: 8px;
}
.wpforms-field-text p a:hover,
.contact-info-box-dsc a:hover{
	color: #d2232a;
}


/*
---------------------
 contact-form-sec-wrp
---------------------
*/
.contact-form-sec-wrp{
	padding-top: 80px;
	padding-bottom: 120px;
	background: #f8f8f8;
}
.contact-form-lft {
    width: 73%;
    float: left;
    padding-right: 115px;
}
.contact-form-rgt {
    width: 27%;
    float: right;
    position: relative;
}
.contact-form-info-cntlr{
	position: relative;
	z-index: 1;
}
.contact-er-msg {
    background: #d9544f;
    padding: 13px 18px;
}
.contact-er-msg span{
	color: #fff;
	margin-bottom: 0;
	padding-left: 35px;
	position: relative;
}
.contact-er-msg span i{
	display: inline-block;
	vertical-align: baseline;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}
.contact-form-wrp {
    padding-top: 45px;
}

/*
---------------------
 Contact Form
---------------------
*/
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:after,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container:before{
	content: "";
	clear: both;
	display: table;
}
.contact-form-wrp  div.wpforms-container-full .wpforms-form .wpforms-field{
	clear: initial;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field{
	width: 50%;
	float: left;
	padding: 0 12px;
	margin-bottom: 20px;
	position: relative;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField{
	padding-top: 32px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container{
	margin: 0 -12px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field label {
    display: inline-block;
    vertical-align: baseline;
    width: auto;
    margin: 0;
    font-size: 16px;
    line-height: 1;
    font-weight: 600;
    color: #243444;
    margin-bottom: 10px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.NameField {
    padding-top: 33px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input{
	width: 100%;
	max-width: 100%;
	height: 48px;
    border: 1px solid #fff;
	box-sizing: border-box;
	padding: 15px 15px 16px;
	color: #707C88;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	border-radius: 0;
	box-shadow: none !important;
	background: #fff;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea{
	width: 100%;
	margin-bottom: 15px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea{
	width: 100%;
	height: 183px;
	border: 1px solid #fff;
	box-sizing: border-box;
	color: #707C88;;
	background:#fff;
	font-size: 14px;
	line-height: 1;
	font-weight: 400;
	padding: 14px 15px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	resize: none;
	border-radius: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field-textarea textarea:focus,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field input:focus{
	border-color:#c0bebe;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button {
    max-width: 220px;
    width: 100%;
    height: 50px;
    border: 2px solid #2285E3!important;
    background: #2285E3;
    border-radius: 0;
    font-size: 16px!important;
    line-height: 1 !important;
    color: #fff!important;
    text-transform: uppercase;
    font-weight: 700!important;
    transition: all 0.5s!important;
    -ms-transition: all 0.5s!important;
    -webkit-transition: all 0.5s!important;
    cursor: pointer!important;
    padding: 10px 10px 10px!important;
    text-align: center;
}
.contact-form-wrp .wpforms-field-pagebreak .wpforms-clear button:hover,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-submit-container button:hover{
	background: transparent!important;
	color: #2285E3!important;
	border-color: #2285E3 !important;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.wpforms-field-text p{
	font-size: 13px;
	line-height: 1.3;
	color: #585858;
	margin-bottom: 25px;
	padding-top: 5px;
	font-style: italic;
	font-weight: 400;
}
.wpforms-field-text p a{
	text-decoration: underline;
	color: #585858;
	font-weight: 400;
}
.wpforms-field-text p a:hover{
	color: #31304F;
}
.contact-form-wrp .wpforms-container .wpforms-form.was-validated .wpforms-field-container .wpforms-has-error label.wpforms-error{
	display: block;

}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.wpforms-has-error span {
    display: block !important;
    top: 7px;
    bottom: auto !important;
    padding-right: 0 !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field span{
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    color: #D9534F;
    position: absolute;
    right: 12px;
    text-align: right;
    width: auto;
    text-transform: inherit;
    margin-bottom: 0;
    display: none;
    padding-right: 14px;
    cursor: pointer;
    bottom: 18px;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error {
	font-size: 14px;
    line-height: 1;
    color: #D17181;
    position: absolute;
    bottom: 15px;
    display: block;
    right: 20px;
    padding-right: 12px;
    font-weight: 700!important;
    text-align: right;
    width: auto;
    text-transform: inherit;
    margin-bottom: 0;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error label.wpforms-error{
	font-weight: 700;
	font-size: 14px;
	padding-left: 2px;
	display: block;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container span,
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container label.wpforms-error{
	display: none;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input {
    border: 1px solid #D17181 !important;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text{
	width: 100%!important;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-field.form-privacy-text{
	margin-bottom: 15px;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text p {
    font-size: 12px;
    line-height: 1.4;
    color: #6A6A6A;
    margin-bottom: 24px;
    text-align: left;
    font-style: italic;
    margin-bottom: 0;
    padding-top: 10px;
    padding-right: 20px;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text p a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: underline;
	color: #6A6A6A;
}
.contact-form-wrp .wpforms-container .wpforms-form .form-privacy-text p a:hover{
	color: #E0861A;
}

.contact-form-wrp .wpforms-container label.wpforms-field-label span.wpforms-required-label{
	display: inline-block!important;
}
.wpforms-field.wpforms-field-html p{
	color: #78797B;
}
.wpforms-field.wpforms-field-html p a{
	color: #78797B;
	text-decoration: underline;
}
.wpforms-field.wpforms-field-html p a:hover{
	color: #e48aa4;
}

/*
placeholder
*/

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #707C88;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input::-moz-placeholder { /* Firefox 19+ */
  color: #707C88;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-ms-input-placeholder { /* IE 10+ */
  color: #707C88;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error input:-moz-placeholder { /* Firefox 18- */
  color: #707C88;
  opacity: 1;
}

.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #707C88;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea::-moz-placeholder { /* Firefox 19+ */
  color: #707C88;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea:-ms-input-placeholder { /* IE 10+ */
  color: #707C88;
  opacity: 1;
}
.contact-form-wrp .wpforms-container .wpforms-form .wpforms-field-container .wpforms-has-error textarea:-moz-placeholder { /* Firefox 18- */
  color: #707C88;
  opacity: 1;
}

.contact-form-info-cntlr {
    padding: 55px 50px 45px 50px;
    background: #2285E3;
}
.contact-form-info-title{
	color:#FFFFFF;
	margin-bottom: 20px;
	text-transform: uppercase; 
}
.contact-form-info{
	text-align: center;
}
.contact-form-info i{
	display: inline-block;
	vertical-align: baseline;
	padding-bottom: 15px;
}
.contact-form-info  ul li{
	display: block;
	padding-bottom: 25px;
	position: relative;
}
.contact-form-info  ul li span,
.contact-form-info  ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 20px;
	line-height: 1.4;
	color:#fff; 
	font-weight: 400;
}
.contact-form-info ul li a:hover{
	opacity: .7;
}
