.faq-overzicht-entry-hdr-sec{

}

.faq-entry-hdr-btn ul{
	margin-left: -28px;
	margin-right: -28px;
}
.faq-entry-hdr-btn ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 28px;
	padding-right: 28px;
	padding-bottom: 50px;
}
.faq-entry-hdr-btn ul li a{
	display: inline-block;
	vertical-align: baseline;
	color: #707C88;
	text-decoration: none;
}
.faq-entry-hdr-btn ul li.active a{
	font-weight: 600;
	color: #2285E3;
	text-decoration: underline;
}


.faq-overzicht-sec{
	padding: 72px 0 50px;
	background: #F8F8F8;
}


.faq-overzicht-sec .mct-faq-accordion-ctlr ul{
	margin-left: 0;
	margin-right: 0;
}
.faq-overzicht-sec .mct-faq-accordion-ctlr ul li{
	width: 100%;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 30px;
}