
.footer{
	position: relative;
}
.footer:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 52.5%;
	height: 20px;
	background: #2285E3;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}


.ftr-top{
	padding-top: 96px;
	padding-bottom: 60px;
	background: #243444;
}

.ftr-logo{
	float: left;
	width: 42.1428%;
	padding-right: 20px;
}

.ftr-menu{
	float: left;
	padding-right: 20px;
}
.ftr-col-1{
	width: 17.1428%;
}
.ftr-col-2{
	width: 21.4285%;
}
.ftr-col-3{
	width: 19.2857%;
}

.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}



.ftr-menu-title{
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 32px;
}

.ftr-menu ul li{
	padding-bottom: 25px;
}
.ftr-menu ul li a{
	font-size: 14px;
	line-height: 1;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	font-weight: 500;
}

.ftr-menu ul li.login a{
	padding-right: 22px;
	position: relative;
}
.ftr-menu ul li.login a:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background: url('../images/ftr-login.svg');
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	width: 12px;
	height: 12px;
}
/*.ftr-menu ul li a.login i{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-top: -1px;
}*/

.ftr-menu ul li a:hover{
	opacity: 0.7;
}

.ftr-location,
.ftr-phone,
.ftr-email{
	padding-bottom: 30px;
}


.ftr-location a,
.ftr-phone a,
.ftr-email a,
.ftr-vat span{
	font-size: 14px;
	line-height: 1.8;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	font-weight: 500;
}
.ftr-location a:hover,
.ftr-phone a:hover,
.ftr-email a:hover{
	opacity: 0.7;
}




.ftr-btm{
	padding: 70px 0;
}

.ftr-btm-inr{
	display: flex;
	align-items: center;
}
.ftr-btm-menu{
	margin-left: auto;
	margin-right: auto;
}

.ftr-copywrite p{
	margin-bottom: 0;
	font-size: 14px;
	color: #243444;
}

.ftr-btm-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	height: 1px;
	width: 4px;
	background: #243444;
	margin-top: 1px;
}
.ftr-btm-menu ul li:first-child:after{
	content: none;
}
.ftr-btm-menu ul li a,
.ftr-btm-designby span a{
	text-decoration: none;
	font-size: 14px;
	color: #243444;
	font-weight: 400;
}
.ftr-btm-designby span{
	font-size: 14px;
	color: #243444;
	font-weight: 400;
}
.ftr-btm-menu ul li a:hover,
.ftr-btm-designby span a:hover{
	color: #2285E3;
}

.to-top-btn-cntlr{
	display: none;
}

@media (max-width: 1699px){
	
}


@media (max-width: 1499px) {
	
}

@media(max-width: 1399px){
	.ftr-logo{
		width: 35%;
	}
	.ftr-col-1 {
	    width: 19%;
	}
	.ftr-col-2 {
	    width: 25%;
	}
	.ftr-col-3 {
	    width: 21%;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.ftr-logo {
	    width: 30%;
	}
	.ftr-col-2 {
	    width: 27%;
	}
	.ftr-col-3 {
	    width: 24%;
	}
	.ftr-location a br{
		display: none;
	}

}

@media(max-width: 991px){
	.ftr-logo {
	    width: 26%;
	}
	.ftr-col-1 {
	    width: 18%;
	}
	.ftr-col-2 {
	    width: 28%;
	}
	.ftr-col-3 {
	    width: 28%;
	}
	.ftr-logo a{
		max-width: 120px;
		width: 100%;
	}
	.ftr-menu ul li a{
		font-size: 12px;
	}
	.ftr-location a, .ftr-phone a, .ftr-email a, .ftr-vat span{
		font-size: 13px;
	}
	.ftr-top{
		padding-top: 70px;
	}
	.ftr-btm {
	    padding: 55px 0;
	}
	.ftr-btm-inr{
		display: block;
		text-align: center;
	}
	.ftr-copywrite{
		padding-bottom: 10px;
	}
	.ftr-btm-menu{
		padding-bottom: 20px;
		margin-bottom: 20px;
		position: relative;
	}
	.ftr-btm-menu:after{
		content: "";
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		height: 1px;
		width: 86px;
		background: #F0F0F0;
	}
	.footer:after{
		height: 16px;
	}
	.ftr-btm-designby span,
	.ftr-btm-designby span a{
		color: #707C88;
	}
}

@media(max-width: 767px){
	.ftr-top {
	    padding-top: 50px;
	    padding-bottom: 50px;
	}
	.ftr-logo{
		width: 100%;
		padding-bottom: 40px;
		text-align: center;
		border-bottom: 2px solid rgba(255, 255, 255, 0.08);
	}
	.ftr-col-1{
		width: 100%;
		text-align: center;
		padding-top: 40px;
		padding-bottom: 20px;
		border-bottom: 2px solid rgba(255, 255, 255, 0.08);
	}
	.ftr-col-2{
		width: 100%;
		text-align: center;
	}
	.ftr-col-3{
	    width: 100%;
	    text-align: center;
	    padding-top: 35px;
	}
	.ftr-menu ul li {
	    padding-bottom: 15px;
	}
	.ftr-menu ul li a {
	    font-size: 14px;
	    font-weight: 700;
	}
	.ftr-location a, 
	.ftr-phone a, 
	.ftr-email a, 
	.ftr-vat span {
	    font-size: 14px;
	    font-weight: 400;
	}
	.ftr-btm-designby span,
	.ftr-btm-designby span a{
		font-size: 14px;
	}
	.ftr-location, 
	.ftr-phone, 
	.ftr-email {
	    padding-bottom: 15px;
	}
	.footer:after{
		height: 12px;
		width: 50%;
	}
	.ftr-logo a{
		max-width: 100px;
		width: 100%;
	}
	.ftr-btm {
	    padding: 40px 0;
	}
	.ftr-copywrite p{
		font-size: 14px;
	}
	.ftr-btm-menu ul li a{
		font-size: 14px;
	} 
	.ftr-btm-designby a{
		font-size: 12px;
		color: #707C88;
	}
	.ftr-btm-menu ul li:first-child{
		padding-left: 0;
	}
	.ftr-btm-menu ul li:last-child{
		padding-right: 0;
	}
	.ftr-location a br{
		display: block;
	}
	.ftr-location a, 
	.ftr-phone a, 
	.ftr-email a, 
	.ftr-vat span{
		text-transform: initial;
	}
	.to-top-btn-cntlr{
		display: block;
		position: fixed;
		bottom: 20%;
		right: 15px;
		width: 48px;
		height: 48px;
		z-index: 100;
		background: #243444;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
	.to-top-btn{
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
	}
	.to-top-btn i {
	    width: 100%;
	    display: block;
	    text-align: center;
	    line-height: 1;
	    padding-top: 4px;
	}
}

@media(max-width: 575px){
	.ftr-copywrite p,
	.ftr-btm-menu ul li a,
	.ftr-btm-designby span,
	.ftr-btm-designby span a{
		font-size: 12px;
	}

}

@media(max-width: 479px){


}

@media(max-width: 359px){

}