
.footer{
	position: relative;
}
.footer:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 52.5%;
	height: 20px;
	background: #2285E3;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}


.ftr-top{
	padding-top: 96px;
	padding-bottom: 60px;
	background: #243444;
}

.ftr-logo{
	float: left;
	width: 42.1428%;
	padding-right: 20px;
}

.ftr-menu{
	float: left;
	padding-right: 20px;
}
.ftr-col-1{
	width: 17.1428%;
}
.ftr-col-2{
	width: 21.4285%;
}
.ftr-col-3{
	width: 19.2857%;
}

.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}



.ftr-menu-title{
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 32px;
}

.ftr-menu ul li{
	padding-bottom: 25px;
}
.ftr-menu ul li a{
	font-size: 14px;
	line-height: 1;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	font-weight: 500;
}

.ftr-menu ul li.login a{
	padding-right: 22px;
	position: relative;
}
.ftr-menu ul li.login a:after{
	content: "";
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	background: url('../images/ftr-login.svg');
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	width: 12px;
	height: 12px;
}
/*.ftr-menu ul li a.login i{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	margin-top: -1px;
}*/

.ftr-menu ul li a:hover{
	opacity: 0.7;
}

.ftr-location,
.ftr-phone,
.ftr-email{
	padding-bottom: 30px;
}


.ftr-location a,
.ftr-phone a,
.ftr-email a,
.ftr-vat span{
	font-size: 14px;
	line-height: 1.8;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: -0.02em;
	font-weight: 500;
}
.ftr-location a:hover,
.ftr-phone a:hover,
.ftr-email a:hover{
	opacity: 0.7;
}




.ftr-btm{
	padding: 70px 0;
}

.ftr-btm-inr{
	display: flex;
	align-items: center;
}
.ftr-btm-menu{
	margin-left: auto;
	margin-right: auto;
}

.ftr-copywrite p{
	margin-bottom: 0;
	font-size: 14px;
	color: #243444;
}

.ftr-btm-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 12px;
	padding-right: 12px;
	position: relative;
}
.ftr-btm-menu ul li:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	height: 1px;
	width: 4px;
	background: #243444;
	margin-top: 1px;
}
.ftr-btm-menu ul li:first-child:after{
	content: none;
}
.ftr-btm-menu ul li a,
.ftr-btm-designby a{
	text-decoration: none;
	font-size: 14px;
	color: #243444;
	font-weight: 400;
}
.ftr-btm-menu ul li a:hover,
.ftr-btm-designby a:hover{
	color: #2285E3;
}