.header{
	background: #2285e3;
	
}
body.home .header{
	padding-bottom: 80px;
}
.header-cntlr{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-lft{

}
.logo{

}
.logo a{
	display: inline-block;
}
.hdr-rgt{
	margin-left: auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.hdr-menu{
	padding-right: 55px;
}

nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}

nav.main-nav > ul{
	padding-top: 67px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0 -28px;
}
nav.main-nav > ul > li{
	padding: 0 28px;
	line-height: 1;
	position: relative;
}
nav.main-nav > ul > li > a{
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
	padding-bottom: 67px;
	position: relative;
}
nav.main-nav > ul > li.login-menu-item > a{
	padding-right: 22px;
}
nav.main-nav > ul > li.login-menu-item > a:after{
	position: absolute;
	content: "";
	top: 2px;
	right: 0;
	background: url('../images/external-icon.svg');
	background-repeat: no-repeat;
	height: 12px;
	width: 12px;
	background-size: contain;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.login-menu-item > a:hover:after{
	background: url('../images/external-icon-hvr.svg');
}
nav.main-nav ul li a:hover,
nav.main-nav > ul > li.menu-item-has-children:hover > a,
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover a{
	color: #d2232a;
}
nav.main-nav > ul > li.current-menu-item > a:after{
	position: absolute;
	content: "";
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50% 50%;
	margin-bottom: 7px;
}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    z-index: 15;
    width: 250px;
    padding: 0 2px 0 0;
    transition: all 0.5s;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    -o-transform: scale3d(1,0,1);
    transform-origin: top;
    opacity: 0;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
    -ms-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.15%);
    -webkit-box-shadow: 0 2px 12px 0 rgb(0 0 0 / 15%);
}
nav.main-nav > ul > li.menu-item-has-children:hover ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    -o-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
	padding: 10px 0 10px 10px;
	line-height: 1;
    display: block;
    position: relative;
    border-bottom: 1px solid #d2232a;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:last-child{
    border-bottom: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
	display: inline-block;
	font-weight: 700;
	font-size: 16px;
	line-height: 1;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	
	text-decoration: none;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    opacity: 0;
    background: #d2232a;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:hover:after{
	height: 100%;
	opacity: 1;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}

.user-cart-cntlr{
	display: flex;
	align-items: center;
}
.shopping-cart{
	padding-left: 23px;
}
.shopping-cart a,
.user a{
	display: inline-block;
}
.shopping-cart a i,
.user a i{
	display: inline-block;
}
.shopping-cart a:hover i svg,
.user a:hover i svg{
	fill: #d2232a;
}
.shopping-cart a{
	position:relative;
}
.shopping-cart a span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size:12px;
    line-height:1;
    margin-bottom: 0;
    display: inline-block;
    margin-top:-1px;
    margin-left: 1.5px;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;

}
.shopping-cart a:hover span{
	color:#fff;
}
/*xs hambergar icon*/
.xs-hambergar{
	padding-left: 28px;
	display: none;
}
.hambergar-icon{
	position: relative;
	width: 32px;
	height: 24px;
}
.hambergar-icon span{
	position: absolute;
	content: "";
	top: 0;
	right: 0;
	left: 0;
	height: 4px;
	border-radius: 5px;
	background: #fff;
}
.hambergar-icon span:nth-child(2){
	top: 10px;
}
.hambergar-icon span:nth-child(3){
	top: 20px;
}
.cross-icon.hambergar-icon span:nth-child(1){
	top: 12px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}
.cross-icon.hambergar-icon span:nth-child(2){
	top: 12px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
.cross-icon.hambergar-icon span:nth-child(3){
	content: none;
	display: none;
}

/*responsive*/
@media(max-width: 1599px){

}
@media(max-width: 1499px){
	.hdr-menu {
		padding-right: 40px;
	}
	nav.main-nav > ul{
		margin: 0 -16px;
	}
	nav.main-nav > ul > li{
		padding: 0 16px;
	}
	.shopping-cart{
		padding-left: 15px;
	}
	.shopping-cart a i svg, 
	.user a i svg{
		max-width: 28px;
	}
	.shopping-cart a span{
		margin-top:-1px;
	}
}
@media(max-width: 1399px){
	.logo a{
		max-width: 240px;
	}
	.hdr-menu {
		padding-right: 30px;
	}
	nav.main-nav > ul{
		margin: 0 -12px;
	}
	nav.main-nav > ul > li{
		padding: 0 12px;
	}
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.logo a{
		max-width: 200px;
	}
	.hdr-menu {
		padding-right: 20px;
	}
	nav.main-nav > ul{
		margin: 0 -10px;
	}
	nav.main-nav > ul > li{
		padding: 0 10px;
	}
	nav.main-nav > ul > li > a,
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 15px;
	}
	.shopping-cart a i svg, 
	.user a i svg{
		max-width: 25px;
	}
}
@media(max-width: 991px){
	.logo a{
		max-width: 160px;
	}
	.hdr-menu {
		padding-right: 12px;
	}
	nav.main-nav > ul{
		margin: 0 -5px;
	}
	nav.main-nav > ul > li{
		padding: 0 5px;
	}
	nav.main-nav > ul > li > a,
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li a{
		font-size: 13px;
	}
	nav.main-nav > ul > li.login-menu-item > a{
		padding-right: 16px;
	}
	nav.main-nav > ul > li.login-menu-item > a:after{
		width: 10px;
		height: 10px;
	}
	nav.main-nav > ul > li.current-menu-item > a:after{
		height: 8px;
		width: 8px;
		margin-bottom: 5px;
	}
	.shopping-cart{
		padding-left: 10px;
	}
}
@media(max-width: 767px){
	.xs-hambergar{
		display: block;
	}
	.hdr-menu{
		position: absolute;
		left: -20px;
		right: -20px;
		top: 100%;
		z-index: 9999;
		border-top: 4px solid #fff;
		display: none;
		padding: 88px 64px 100px 64px;
		background: #243444;
	}
	.hdr-menu:after{
		position: absolute;
		content: "";
		bottom: -6px;
		right: 0;
		height: 12px;
		background: #2285e3;
		width: 65.33%;
	}
	body.home .header{
		padding-bottom: 8px;
	}
	.header-cntlr{
		position: relative;
		padding: 40px 0;
	}
	nav.main-nav > ul {
		padding: 0;
		margin: 0;
		display: block;
	}
	nav.main-nav > ul li {
		padding: 20px 0;
		display: block;
		text-align: left;
	}
	nav.main-nav > ul > li > a{
		padding: 0;
		font-size: 16px;

	}
	nav.main-nav > ul > li.menu-item-has-children > a {
		padding-right: 20px;
		position: relative;
	}
	nav.main-nav > ul > li.menu-item-has-children > a:after {
		content: "";
		text-decoration: inherit;
		background-image: url('../images/menu-down-arrow.svg');
		width: 12px;
		height: 7px;
		background-size: contain;
		padding-right: 0;
		position: absolute;
		top: 3px;
		right: 0;
		line-height: 15px;
		transition: all 0.5s;
		-ms-transition: all 0.5s;
		-webkit-transition: all 0.5s;
	}
	nav.main-nav > ul > li.menu-item-has-children.sub-menu-arrow > a:after {
		transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		-ms-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu {
		position: static;
		top: 100%;
		width: 100%;
		padding: 15px 0 15px 0;
		margin-top: 33px!important;
		transition: initial;
		-ms-transition: initial;
		-webkit-transition: initial;
		transform: initial;
		-ms-transform: initial;
		-webkit-transform: initial;
		-o-transform: initial;
		opacity: 1;
		box-shadow: initial;
		-ms-box-shadow: initial;
		-webkit-box-shadow: initial;
		display: none;
		background: transparent;
		border-bottom: 2px solid #364353;
		border-top: 2px solid #364353;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li{
		padding: 15px 0;
		border-bottom: 0;
	}
	nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu li a{
		color: #fff;
		font-size: 14px;
		font-weight: 500;
	}
	nav.main-nav > ul > li.current-menu-item > a:after{
		content: none;
		display: none;
	}
	.shopping-cart a span{
		font-size:11px;
	}
	.user-cart-cntlr .user {
	    display: none;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		transform: initial!important;
		transition: initial!important;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu li:after{
		content: none!important;
	}
	nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
		position: static!important;
		display: none;
		width: 100%!important;
		margin: 0;
	}
}
@media(max-width: 639px){
	
}
@media(max-width: 575px){
	.shopping-cart a i svg, 
	.user a i svg{
		max-width: 22px;
	}
	.shopping-cart{
		padding-left: 6px;
	}
/*	.xs-hambergar{
		padding-left: 15px;
	}*/
	.hdr-menu{
		padding: 60px 40px 80px;
	}
	.shopping-cart a span{
		font-size:10px;
		margin-top:-1px;
	}

}