.hm-banner{
	padding-left: 82px;
	margin-bottom: 104px;
}
.hm-banner-cntlr{
	position: relative;
	padding: 16px 0 16px 20px;
	margin-top: -80px;
}
.hm-banner-bdr{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 14.322%;
	content: "";
	background: #243444;
	z-index: 1;
}
.hm-banner-img{
	min-height: 838px;
	position: relative;
	z-index: 2;
	display: flex;
	align-items: flex-end;
	
}
.hm-banner-inr{
	display: flex;
}
.hm-banner-desc{
	background: #2285e3;
	color: #fff;
	padding: 55px 55px 53px 57px;
	display: inline-block;
	margin-left: auto;
	margin-bottom: -47px;
}
.hm-banner-title{
	color: #fff;
	text-transform: uppercase;
}
.hm-banner-desc p:last-of-type{
	margin-bottom: 35px; 
}
.hm-banner-desc a{
	color: #fff;
	font-size: 700;
	text-transform: uppercase;
}
.our-services{
	padding: 0 0 52px 0;
}

.our-services-grid-cntlr{

}
.our-services-grid{
	margin: 0 -12px;
	flex-wrap: wrap;
	display: flex;
	align-items: center;
	justify-content: center;
}
.our-services-item-wrap{
	padding: 0 12px;
	margin-bottom: 24px;
	width: 25%;
}
.our-services-item-wrap:nth-child(4n+1){
	clear: left;
}
.our-services-item-cnlr{
	position: relative;
}
.our-services-item{
	min-height: 456px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #f8f8f8;
}
.our-srvcs-icon{
	height: 140px;
	width: 140px;
	padding: 30px;
	background: #fff;
	border-radius: 50% 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 26px;
}
.our-services-hding{
	display: flex;
	align-items: center;
	margin-bottom: 22px;
	padding: 0 10px;
}
.our-services-item-title{
	margin-bottom: 0;
	text-align: center;
}
.our-services-item-title a{
	text-decoration: none;
	color: #243444;
}
.our-services-item-desc{
	padding: 0 35px;
	text-align: center;
}
.our-services-item-desc p:last-of-type{
	margin-bottom: 0;
}

/*product sce*/
.hm-box-grd-section{
	padding-top: 52px;
}
.product-cntlr{

}
.product-item-cntlr{
	float: left;
	width: 50%;
}
.hm-box-grd-col{
	color: #fff;
	float: left;
	width: 50%;
}

.hm-product-box-cntlr > div {
	background: #2285e3;
}
.hm-login-box-cntlr > div{
	background: #243444;
}
.hm-box-grd-col > div{
	padding: 20px 50px;
	min-height: 340px;
	height: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 340px;
	top: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
.hm-box-grd-col > div > div{
	max-width: 485px;
}
.hm-login-box-cntlr{
	position: relative;
	z-index: 2;
	margin-top: 43px;
}
.hm-login-box-cntlr > div{
	margin-left: -12px;
}
.hm-product-box-cntlr > div{
	margin-right: -12px;
}

.hm-box-grd-icon{
	margin-bottom: 28px;
}
.product-item-title{
	margin-bottom: 16px;
	color: #fff;
}
.hm-box-grd-col p:last-of-type{
	margin-bottom: 45px;
}
.hm-box-grd-col a{
	color: #fff;
}
.hm-box-grd-col a.login-icon{
	position: relative;
	line-height: 1;
}
.hm-box-grd-col a.login-icon i{
	position: absolute;
	top: 2px;
	right: -24px;
}
/*football-backyard*/
.football-backyard{
	margin-top: -43px;
}
.football-backyard-cntlr{
	position: relative;

}
.ftball-bcwrd-img{
	width: 49.7%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
}
.ftball-bcwrd-img img{
	width: 100%;
}
.ftball-bcwrd-desc-cntlr{
	width: 50.3%;
	display: flex;
	align-items: center;
	padding: 90px 0 90px 115px;
	margin-left: auto;
	min-height: 685px;
}
.ftball-bcwrd-desc{
	max-width: 590px;
	width: 100%;
	margin-bottom: -80px;
}
.ftball-bcwrd-title{

}
.ftball-bcwrd-desc p:last-of-type{
	margin-bottom: 28px;
}
.ftball-bcwrd-btn{
	padding-top: 8px;
}
.ftball-bcwrd-btn a{
	text-transform: uppercase;
	font-weight: 700;
}

/*responsive*/
@media(max-width: 1599px){
	.our-services-grid{
		margin: 0 -7px;
	}
	.our-services-item-wrap{
		padding: 0 7px;
	}
	.our-services-item-title{
		font-size: 20px!important;
	}
	.our-services-item-desc p{
		font-size: 15px;
	}
}
@media(max-width: 1399px){
	
}
@media(max-width: 1299px){
	
}
@media(max-width: 1199px){
	.hm-banner{
		padding-left: 50px;
	}
	.hm-banner-img{
		min-height: 687px;
	}

	.ftball-bcwrd-desc-cntlr{
		padding-left: 60px;
		min-height: 600px;
	}
}
@media(max-width: 991px){
	.hm-banner{
		padding-left: 30px;
	}
	.hm-banner-img{
		min-height: 587px;
	}
	.hm-banner-cntlr{
		padding: 10px 0 10px 12px;
	}
	.hm-banner-desc {
		padding: 30px 28px 35px 28px;
		margin-bottom: -64px;
		max-width: 400px;
		width: 100%;
	}
	.hm-banner-desc p:last-of-type{
		margin-bottom: 25px;
	}
	.our-services-grid-cntlr {
		max-width: 555px;
		width: 100%;
		margin: 0 auto;
	}
	.our-services-item-wrap{
		width: 50%;
	}
	.our-services-item-wrap:nth-child(4n+1){
		clear: initial;
	}
	.our-services-item-wrap:nth-child(2n+1){
		clear: left;
	}
	.our-services-item{
		min-height: 380px;
	}

	.ftball-bcwrd-desc-cntlr{
		padding-left: 15px;
		min-height: 540px;
	}
	.ftball-bcwrd-desc{
		margin-bottom: -60px;
	}
}
@media(max-width: 767px){
	.hm-banner{
		padding-left: 0;
	}
	.hm-banner-img{
		min-height: 487px;
	}
	.hm-banner-bdr{
		margin-right: 60px;
	}
	.hm-banner-cntlr{
		padding: 8px 0 8px 12px;
		margin-top: -8px;
	}
	.hm-banner-desc {
		padding: 24px 20px 25px 20px;
		margin-bottom: -64px;
		max-width: 347px;
		width: 100%;
		margin-right: -20px;
	}
	.hm-banner-desc p br{
		display: none;
	}
	.hm-banner-title{
		margin-bottom: 15px;
	}
	.hm-banner-desc p:last-of-type{
		margin-bottom: 18px;
	}
	.our-services-grid{
		margin: 0;
		display: block;

	}
	.our-services{
		padding-bottom: 64px;
		overflow: hidden;
	}
	.our-services-grid-cntlr{
		max-width: 320px;
	}
	.our-services-item-wrap{
		padding: 0;
		max-width: 320px;
		width: 100%;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.our-services-item{
		min-height: 337px;
	}
	.our-services-item-wrap:nth-child(2n+1){
		clear: initial;
	}
	.OurServicesSlider.slick-dotted.slick-slider{
		margin-bottom: 0!important;
	}
	.our-services-item-title br{
		display: none;
	}
	.our-services-cntlr .sec-entry-hdr p:last-child{
		margin-bottom: 28px;
	}
	.hm-box-grd-col{
		float: initial;
		width: 100%;
	}
	.hm-product-box-cntlr > div{
		margin-left: -20px;
		margin-right: 0;
		padding-bottom: 56px;
	}
	.hm-login-box-cntlr > div {
		margin-left: 0;
		margin-right: -20px;
	}
	.hm-login-box-cntlr{
		margin-top: -36px;
	}
	.hm-box-grd-icon{
		margin-bottom: 25px;
	}
	.product-item-title{
		margin-bottom: 15px;
	}
	.hm-box-grd-col p:last-of-type{
		margin-bottom: 27px;
	}
	.hm-box-grd-section{
		margin-bottom: 30px;
	}
	.football-backyard{
		margin-top: 0;
	}
	.ftball-bcwrd-img{
		position: initial;
		min-height: 272px;
		width: 100%;
	}
	.ftball-bcwrd-desc-cntlr{
		min-height: initial;
		padding: 45px 0;
		width: 100%;
		display: block;
		align-items: center;
		margin-left: initial;
	}
	.ftball-bcwrd-desc{
		margin-bottom: 0;
	}
	.ftball-bcwrd-title{
		margin-bottom: 15px;
	}
	.ftball-bcwrd-desc p:last-of-type{
		margin-bottom: 15px;
	}
	.ftball-bcwrd-btn{
		padding-top: 0;
	}
}
@media(max-width: 575px){
	.hm-banner-img{
		min-height: 400px;
	}
}
@media(max-width: 479px){
	.hm-banner-inr{
		margin-left: -32px;
	}
}
