.hm-banner{
	padding-left: 82px;
}
.hm-banner-cntlr{
	position: relative;
	padding: 16px 0 16px 20px;
	margin-top: -80px;
}
.hm-banner-bdr{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 14.322%;
	content: "";
	background: #243444;
	z-index: 1;
}
.hm-banner-img{
	min-height: 838px;
	position: relative;
	z-index: 2;
	display: flex;
	align-items: flex-end;
	
}
.hm-banner-inr{
	display: flex;
}
.hm-banner-desc{
	background: #2285e3;
	color: #fff;
	padding: 55px 55px 53px 57px;
	display: inline-block;
	margin-left: auto;
	margin-bottom: -47px;
}
.hm-banner-title{
	color: #fff;
	text-transform: uppercase;
}
.hm-banner-desc p:last-of-type{
	margin-bottom: 35px; 
}
.hm-banner-desc a{
	color: #fff;
	font-size: 700;
	text-transform: uppercase;
}
.our-services{
	padding: 104px 0 52px 0;
}

.our-services-grid-cntlr{

}
.our-services-grid{
	margin: 0 -12px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.our-services-item-wrap{
	padding: 0 12px;
	margin-bottom: 24px;
	width: 25%;
}
.our-services-item-cnlr{

}
.our-services-item{
	min-height: 456px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #f8f8f8;
}
.our-srvcs-icon{
	height: 140px;
	width: 140px;
	padding: 30px;
	background: #fff;
	border-radius: 50% 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 26px;
}
.our-services-hding{
	display: flex;
	align-items: center;
	margin-bottom: 22px;
	padding: 0 10px;
}
.our-services-item-title{
	margin-bottom: 0;
	text-align: center;
}
.our-services-item-desc{
	padding: 0 35px;
	text-align: center;
}
.our-services-item-desc p:last-of-type{
	margin-bottom: 0;
}

/*product sce*/
.hm-box-grd-section{
	padding-top: 52px;
}
.product-cntlr{

}
.product-item-cntlr{
	float: left;
	width: 50%;
}
.hm-box-grd-col{
	color: #fff;
	float: left;
	width: 50%;
}

.hm-product-box-cntlr > div {
	background: #2285e3;
}
.hm-login-box-cntlr > div{
	background: #243444;
}
.hm-box-grd-col > div{
	padding: 20px 50px;
	min-height: 340px;
	height: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 340px;
	top: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}
.hm-box-grd-col > div > div{
	max-width: 485px;
}
.hm-login-box-cntlr{
	position: relative;
	z-index: 2;
	margin-top: 43px;
}
.hm-login-box-cntlr > div{
	margin-left: -12px;
}
.hm-product-box-cntlr > div{
	margin-right: -12px;
}

.hm-box-grd-icon{
	margin-bottom: 28px;
}
.product-item-title{
	margin-bottom: 16px;
	color: #fff;
}
.hm-box-grd-col p:last-of-type{
	margin-bottom: 45px;
}
.hm-box-grd-col a{
	color: #fff;
}
.hm-box-grd-col a.login-icon{
	position: relative;
	line-height: 1;
}
.hm-box-grd-col a.login-icon i{
	position: absolute;
	top: 2px;
	right: -24px;
}
/*football-backyard*/
.football-backyard{

}
.football-backyard-cntlr{
	position: relative;
}
.ftball-bcwrd-img{
	width: 49.7%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin-top: -43px;
}
.ftball-bcwrd-img img{
	width: 100%;
}
.ftball-bcwrd-desc-cntlr{
	width: 50.3%;
	display: flex;
	align-items: center;
	padding: 20px 0 20px 115px;
	margin-left: auto;
}
.ftball-bcwrd-desc{
	max-width: 590px;
	width: 100%;
	margin-bottom: -80px;
}
.ftball-bcwrd-title{

}
.ftball-bcwrd-desc p:last-of-type{
	margin-bottom: 28px;
}
.ftball-bcwrd-btn{
	padding-top: 8px;
}
.ftball-bcwrd-btn a{
	text-transform: uppercase;
	font-weight: 700;
}