
.mtc-faq-sec{
	padding-top: 110px;
	padding-bottom: 100px;
	background: #F8F8F8;
}

.sec-entry-hdr{
	text-align: center;
	max-width: 750px;
	width: 100%;
	margin: 0 auto;
}

.mtc-faq-entry-title{
	margin-bottom: 7px;
}
