.slick-slider ul.slick-dots{
	position: static;
	height: 4px;
	line-height: 0;
	padding: 0 20px!important;
}
.slick-slider .slick-dots li{
	width: 42px!important;
	height: 4px!important;
	position: static;
	background: #fff!important;
	margin: 0 5px;
	padding: 0!important;
}
.slick-slider .slick-dots li.slick-active{
	background: #243444!important;
}
.slick-slider .slick-dots li:before,
.slick-slider .slick-dots li button:before{
	content: none!important;
}
.slick-slider .slick-dots li button{
	padding: 0;
	width: 42px;
	height: 4px;
}


.sitemap{
	padding: 50px 0 70px;
}

.sitemap ol li a{
	color: #FF674D;
}
.sitemap ol li{
	padding-left: 25px;
}

.sitemap ol li a:focus{
	text-decoration: underline;
}

/* resposnive */


@media(max-width:767px){
	.slick-slider ul.slick-dots{
		position: absolute;
		bottom: -24px;
		display: flex!important;
		justify-content: center;
	}
}