.fl-product .product.type-product:after,
.fl-product .product.type-produc:before{
	content: "";
	clear: both;
	display: table;
}
.main-img-crtl{
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	-webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.main-img-crtl .woocommerce-product-gallery__image{
	height: 425px;
	background: #fff;
	display: flex!important;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin-bottom: 20px;
}
.main-img-crtl .woocommerce-product-gallery__image a{
	display: block;
	width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}
.main-img-crtl .woocommerce-product-gallery__image a img{
	width: auto!important;
    max-height: 330px;
    margin: 0 auto;
}
.thumbnails-cntlr{
	position: relative;
	max-width: 390px;
    width: 100%;
    margin: auto;
}
.thumbnails-cntlr span:hover{
	opacity: .7;
}
.main-img-crtl{
	margin: 0!important;
	margin-bottom: 27px!important;
}
.thumbnails-cntlr .thumbnails{
	margin: 0 -7px!important;
	padding: 0!important;
}
.thumbnails-cntlr .thumb-bg{
	padding: 0 7px;
}
.thumbnails-cntlr .thumb-bg > div{
	height: 120px;
	background: #fff;
	display: flex!important;
	width: 100%;
	justify-content: center!important;
	align-items: center!important;
	padding: 10px;
	border: 2px solid #f8f8f8;
}
.thumbnails-cntlr .thumb-bg img{
	max-height: 58px;
	width: auto;	
}
.thumbnails-cntlr .woocommerce-product-gallery__image{
	padding: 0 12px;
}
.thumbnails-cntlr .woocommerce-product-gallery__image .inline-bg{
	height: 120px;
}
.fl-singgle-pro-prev{
	left: 0;
	margin-left: -42px;
}
.fl-singgle-pro-next{
	right: 0;
	margin-right: -42px;
}
.fl-singgle-pro-prev,
.fl-singgle-pro-next{
	width: 22px;
	height: 22px;
	position: absolute;
	cursor: pointer;
	display: flex!important;
	justify-content: center!important;
	align-items: center!important;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.custom-info-crtl ul{
	display: flex;
	flex-wrap: wrap;
}
.custom-info-crtl ul li{
	width: 50%;
	padding: 0 15px 0 80px;
	margin-bottom: 35px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #31304F;
}
.custom-info-crtl ul li.qnty{
	background: url(../images/pro-single-into-time-icon.svg);
	background-repeat: no-repeat;
}
.custom-info-crtl ul li.water-temp{
	background: url(../images/pro-single-water-temp-icon.svg);
	background-repeat: no-repeat;
}
.custom-info-crtl ul li.into-time{
	background: url(../images/pro-single-qnty-icon.svg);
	background-repeat: no-repeat;
}
.custom-info-crtl ul li span{
	display: block;
	font-family: 'Bitter', serif;
	font-weight: 400;
	color: #525A61;
}
.archive .fl-pagination-ctlr ul li:before{
	content: none;
}
.woocommerce div.product div.summary{
	width: 51%!important;
	padding-left: 120px;
}
.woocommerce .fl-product div.product div.images{
	width: 49%;
}
.woocommerce div.product .product_title{
	font-size: 30px;
	letter-spacing: -0.02em;
	margin-bottom: 17px;
}

.long-desc{
	color: #707C88;
	margin-bottom: 32px;
}
.long-desc p{
	margin-bottom: 30px;
}
.long-desc p:last-of-type{
	margin-bottom: 0;
}
.long-desc h2{
	font-size: 26px;
	font-weight: 700;
	letter-spacing: -0.02em;
	color: #fff;
	margin-bottom: 15px;
}
.short-desc{
	padding-bottom: 15px;
}
.export-file{
	color: #2285E3;	
	padding-bottom: 36px;
	cursor: pointer;
}
.export-file p{
	position: relative;
	text-decoration-line: underline;
	text-transform: uppercase;
	padding-left: 33px;
	margin-bottom: 0;
	font-weight: 700;
}
.export-file p:after{
	position: absolute;
	content: "";
	background-image: url('../images/document.svg');
	background-repeat: no-repeat;
	width: 19.64px;
	height: 24px;
	left: 0;
}
.export-file p,
.export-file p:after{
	transition: all .5s;
    -webkit-transition: all .5s;
    -ms-transition: all .5s;
}
.export-file p:hover:after{
	background-image: url(../images/document-hover.svg)!important;
}
.meta-crtl{
	font-weight: 700;
	color: #707C88;
	border-bottom: 2px solid #f5f6f8;
	margin-bottom: 28px;
	padding-bottom: 20px;
}
.meta-crtl ul{
	margin: -11px 0;
}
.meta-crtl ul li{
	padding: 11px 0;
}
.meta-crtl ul li:before{
	content: none;
}
.meta-crtl ul li strong,
.cartbtn-wrap > strong{
	font-weight: 400;
	margin-right: 20px;
	min-width: 128px;
	display: inline-block;
	vertical-align: baseline;
	color: #707C88;
}
.meta-crtl ul li a{
	color: #707C88;
	text-decoration: none;
}
.meta-crtl ul li > span{
	display: block;
	text-transform: capitalize;
}
.single-product .breadcrumb-sec{
	margin-bottom: 100px;
}
.single-product .fl-product{
	padding-bottom: 103px;
}
.single-product .woocommerce-notices-wrapper,
.archive .woocommerce-notices-wrapper{
	margin-bottom: 0!important;
}
.fl-product .price-quentity-ctrl form .variations tbody tr td{
	width: 100%;
	display: block;
}
.fl-product .price-quentity-ctrl form .variations tbody tr td label{
	margin-bottom: 0;
	font-weight: 400!important;
	text-transform: capitalize;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td select{
	width: 100%!important;
	min-width: 100%!important;
	max-width: 100%!important;
	margin: 0!important;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td .bootstrap-select > .dropdown-toggle{
	background: #FFFFFF!important;
	border: 1px solid #F2EDE9;
	box-sizing: border-box;
	border-radius: 6px;
	color: #8c8da2!important;
	height: 50px!important;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td .bootstrap-select > .dropdown-toggle::before{
	right: 20px;
	color: #8e8ca2;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td  .bootstrap-select .dropdown-toggle .filter-option{
	padding-left: 20px!important;
	padding-right: 40px!important;
}

.fl-product .price-quentity-ctrl form .variations tbody tr td  .bootstrap-select .dropdown-toggle .filter-option-inner{
	color: #8c8da2!important;
}

.cartbtn-wrap{
	display: flex;
	align-items: center;
	padding-bottom: 28px;
}
.cartbtn-wrap > strong{
	font-weight: 400!important;
	margin-bottom: 0!important;
}
.cart-btn-qty:after,
.cart-btn-qty:before{
	content: "";
	clear: both;
	display: table;
}
.cart-btn-qty{
	max-width: 71px;
	width: 100%;
}

.cart-btn-qty .quantity.qty,
body.woocommerce-cart .product-quantity .quantity.qty1{
	width: 71px;
	height: 16px;
	position: relative;
	margin-right: 0!important;
}
.cart-btn-qty .quantity.qty span,
body.woocommerce-cart .product-quantity .quantity.qty span, 
body.woocommerce-cart .product-quantity .quantity.qty1 span{
	width: 16px;
	height: 16px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	background: #c6ddef;
	color: #fff;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 100% 100%;
	cursor: pointer;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-ms-transition:all 0.5s;
}

.cart-btn-qty .quantity.qty span.plus,
.woocommerce-cart .product-quantity .quantity.qty1 span.plus{
	left: auto;
	right: 0;
}

.cart-btn-qty .quantity.qty .quantity,
body.woocommerce-cart .product-quantity .quantity{
	position: absolute;
	width:50%;
	left: 50%;
	top: 0;
	bottom: 0;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	background: #FFFFFF;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	margin-right: 0!important;
}
.cart-btn-qty .quantity.qty .quantity input{
	font-weight: 500;
	color: #000;
	width:100%;
}
.quantity input[type=number]::-webkit-inner-spin-button, 
.quantity input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.related.products ul{
	display: flex;
	margin: 0 -12px;
	flex-wrap: wrap;
}
.related-pro-crtl .hasRelatedProduct,
.dft-hm-product-module .hm-product-grds{
    margin:0 -12px
}
.dft-hm-product-module{
    margin-top: 54px;
    margin-bottom: 55px;
}
.dft-hm-product-module.hide-sm{
	display: block!important;
}
.dft-hm-product-module .slick-slider .slick-dots li,
.dfp-our-service-module .slick-slider .slick-dots li{
    background: #f8f8f8!important;
}
.dft-hm-product-module .slick-slider .slick-dots li.slick-active,
.dfp-our-service-module .slick-slider .slick-dots li.slick-active{
     background: #243444!important;
}
.hm-product-grds .hmProdctGrdsSlideItme,
.our-services-grid.OurServicesSlider .our-services-item-wrap{
	display: none;
}
.hm-product-grds .hmProdctGrdsSlideItme:first-child,
.our-services-grid.OurServicesSlider .our-services-item-wrap:first-child{
	display: block;
}
.hm-product-grds.slick-initialized .hmProdctGrdsSlideItme,
.our-services-grid.OurServicesSlider.slick-initialized .our-services-item-wrap{
	display: block;
}
/*.related.products ul li{*/
/*	width: 25%!important;*/
/*	padding: 0 12px 0!important;*/
/*	margin: 0!important;*/
/*}*/
.woocommerce .related.products li.first, .woocommerce-page ul.products li.first{
	clear: initial!important;
}

.single_variation_wrap:after,
.single_variation_wrap:before{
	content: "";
	display: table;
	clear: both;
}

body.single-product div.product form.cart .button{
	float: none!important;
	margin-left: 0!important;
	background: #2285e3!important;
	border-color: #fff!important;
	height: 50px!important;
	max-width: 220px!important;
	width: 100%!important;
	position: relative;
	justify-content: center;
	align-items: center;
	padding-top: 13px!important;
	border: 2px solid #2285e3!important;
}
body.single-product div.product form.cart .button:hover{
    background: #D9534F!important;
    border-color: #D9534F!important;
}
body.single-product div.product form.cart .button:before{
	content: "";
	position: absolute;
	left: 85px;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	background: url(../images/cart-icon-2.svg);
	width: 24px;
	height: 24px;
}
.related.products.related-pro-crtl{
	padding-top: 98px;
	padding-bottom: 100px;
}
.related-pro-crtl .product,
.dft-hm-product-module .hmProdctGrdsSlideItme{
    padding: 0 12px;    
}
.related.products.related-pro-crtl h2{
	font-weight: 600;
	font-size: 30px;
	text-align: center;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	color: #243444;
	text-align: center;
	margin-bottom: 55px;
}
.fl-product .summary-ctrl{
   margin-top: 27px; 
}
.summary-ctrl .qty-price-wrap{
	padding-bottom: 30px;
}
.summary-ctrl .qty-price-wrap .single-price-total > del,
.summary-ctrl .qty-price-wrap .single-price-total > ins,
.summary-ctrl .qty-price-wrap .single-price-total > span.woocommerce-Price-amount{
	font-weight: 600;
	color: #31304F;
	font-size: 24px;
	color: #31304F;
}
.single-product .single-price-total del span.woocommerce-Price-amount bdi,
.single-product .single-price-total del span.woocommerce-Price-amount bdi span,
.single-product .single-price-total ins span.woocommerce-Price-amount bdi,
.single-product .single-price-total ins span.woocommerce-Price-amount bdi span{
	font-size: 20px!important;
	color: #707C88;
	font-weight: 400;
}
span.onsale{
	position: absolute;
    width: 100px!important;
    height: 30px!important;
    background: #5CB85C!important;
    color: #fff!important;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 12px!important;
    line-height: 1!important;
    font-weight: 700!important;
    z-index: 11;
    left: 15px!important;
    top: 15px!important;
    border-radius: 0!important;
    padding-top: 2px!important;
    margin: 0!important;
    min-height: auto!important;

}
body.home span.onsale,
body.post-type-archive span.onsale{
    left: 15px!important;
    right: initial!important;
}
body.single-product .main-img-crtl{
	position: relative;
}
body.single-product .fl-product span.onsale,
body.single-product .fl-product span.seller-flash{
	width: 100px!important;
	right: auto!important;
	top: 20px!important;
	left: 20px!important;
}

body.single-product .added_to_cart.wc-forward,
body.single-product .xoo-cp-icon-check.xoo-cp-added{
	display: none;
}
body.single-product .qty-price-wrap .price-pre-title{
	margin-right: 10px;
}
body.archive.tax-product_cat .fl-pro-grd-img-cntlr{
	margin-bottom: 20px;
	min-height: 100px;
	min-width: 100px;
}
body.archive.tax-product_cat .fl-pro-grd-img-cntlr img{
	max-height: 100px;
}

body.single-product .bootstrap-select .dropdown-toggle .filter-option-inner-inner{
	font-weight: 400;
}

.ywgc-sender-name, .ywgc-message{
	width: 100%;
	float: left;
}
.ywgc-sender-name label, .ywgc-message label {
    display: block!important;
}
.ywgc-sender-name input, .ywgc-message textarea {
    width: 100%!important;
}
.ywgc-message textarea{
	padding: 15px!important;
}

.gift_card_template_button .cartbtn-wrap strong,
.single_variation_wrap .cartbtn-wrap strong{
    padding-bottom: 5px;
    display: block;
}

.product-type-gift-card .ywgc-main-form-preview-container{
	border: 1px solid rgba(0,0,0,.1);
}
.term-geschenken .fl-products-cntlr {
    padding-top: 25px;
}
.related-products{
	background: #f8f8f8;
}
.single-product .faq-detials-sec{
	background: #fff;
}
.single-product .mct-faq-accordion{
	box-shadow: initial;
	border: 2px solid #F8F8F8;
}
.single-product .faq-detials-sec{
	padding: 99px 0 85px;
}
.single-product .faq-detials-sec .mtc-faq-entry-title{
	margin-bottom: 23px;
}
.single-product.woocommerce div.product form.cart,
.single-product.woocommerce div.product div.summary{
	margin-bottom: 0!important;
}

/* ================= */
/* == responsive == */
/* =============== */

@media (max-width: 1699px){
	.woocommerce div.product .product_title{
		font-size: 29px;
	}
}

@media (max-width: 1599px){
	.related-pro-crtl .hasRelatedProduct,
	.dft-hm-product-module .hm-product-grds{
	    margin:0 -7px
	}
	.related-pro-crtl .product,
	.dft-hm-product-module .hmProdctGrdsSlideItme{
    	padding: 0 7px;    
	}
}


@media (max-width: 1499px){
	.woocommerce div.product div.summary {
	    width: 51%!important;
	    padding-left: 80px;
	}
	.custom-info-crtl ul li{
		padding-left: 60px;
	}
	.thumbnails-cntlr .thumb-bg > div{
		height: 120px;
	}
	.single-product .breadcrumb-sec{
		margin-bottom: 85px;
	}
	.woocommerce div.product .product_title{
		font-size: 28px;
	}
}
@media(max-width: 1399px){
	.single-product .fl-product{
		padding-bottom: 90px;
	}
	.related.products.related-pro-crtl{
		padding: 90px 0;
	}
	.related.products.related-pro-crtl h2{
		margin-bottom: 45px;
		font-size: 28px;
	}
	.woocommerce div.product .product_title{
		font-size: 27px;
	}
	.single-product .faq-detials-sec{
		padding: 90px 0 75px;
	}
}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.woocommerce div.product div.summary{
	    padding-left: 50px;
	}
    .term-geschenken .fl-product-grd-2 .fl-product-grd-inr{
        padding-top:0px;
    }
    .single-product .breadcrumb-sec{
		margin-bottom: 75px;
	}
	.single-product .fl-product{
		padding-bottom: 80px;
	}
	.related.products.related-pro-crtl{
		padding: 80px 0;
	}
	.woocommerce div.product .product_title{
		font-size: 26px;
	}
	.single-product .faq-detials-sec{
		padding: 80px 0 65px;
	}
	.related.products.related-pro-crtl h2{
		font-size: 26px;
		margin-bottom: 35px;
	}
}

@media(max-width: 991px){
	.summary-ctrl .qty-price-wrap{
		padding-bottom: 27px;
	}
	.woocommerce .fl-product div.product div.images{
		width:100%;
	}
	.fl-product .summary-ctrl {
        margin-top: 0;
    }
	.woocommerce div.product div.summary{
		width:100%!important;
	}
	.woocommerce div.product div.summary{
		padding-left:0px;
	}
	.woocommerce .fl-product div.product div.images figure.woocommerce-product-gallery-wrap{
    	max-width: 100%;
    	width:100%;
    	margin-left: 0;
    	margin-right: 0;
    	border-bottom: 2px solid #f0ede8;
    	padding-bottom: 36px;
    	margin-bottom: 0;
	}
	.custom-info-crtl,
	.thumbnails-cntlr{
    	width:100%;
    	margin-left: auto;
    	margin-right: auto;
	}
	.main-img-crtl .woocommerce-product-gallery__image{
		height:360px;
		
	}
	.main-img-crtl .woocommerce-product-gallery__image a{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
	}
	.main-img-crtl .woocommerce-product-gallery__image img{
	    max-height: 400px;
	    width: auto!important;
	    
	}
	
	.woocommerce div.product div.images{
		margin-bottom:30px;
	}
	.meta-crtl{
		margin-bottom:25px;
	}
	.woocommerce div.product div.summary {
	    margin-bottom: 13px;
	}
	.related.products.related-pro-crtl{
		padding-top:50px;
	}
	.cart .qty-price-wrap del span,
	.cart .qty-price-wrap del span bdi{
		font-size:18px!important;
	}
	.summary-ctrl .qty-price-wrap > ins,
	.summary-ctrl .qty-price-wrap > ins span bdi{
		font-size:20px;
	}
	.related.products.related-pro-crtl h2{
		font-size: 24px;
	}
	.long-desc h2{
		font-size:20px;
	}
	
	.product-page-col-cntlr {
	    display: block;
	    
	}
	.product-page-sidebar{
		width: 26%;
		padding-right: 0;
		padding: 0;
	}
	.product-page-col-rgt {
	    width: 100%;
	}
	.product-page-sidebar{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		background: #fcf8f7;
		z-index: 101;
/* 		-webkit-box-shadow: 3px 11px 5px -9px rgba(0,0,0,1);
		-moz-box-shadow: 3px 11px 5px -9px rgba(0,0,0,1);
		box-shadow: 3px 11px 5px -9px rgba(0,0,0,1); */
	}
	body.archive.post-type-archive .page-entry-header{
		border: none;
	}
	.sidebar-close-btn{
		background: #fff;
		margin-left: 0!important;
		margin-right: 0!important;
	}
	.product-page-cntlr .col-md-12{
		position: static;
	}
	.product-page-sidebar .sidebar-close-btn{
		padding-top: 14px;
		padding-bottom: 14px;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.product-page-sidebar .sidebar-title{
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 20px;

	}
	.sidebar-title .fl-h4{
	    font-size: 26px;
	}
    body.term-geschenken .xs-filter-btn{
        display: none!important;
    }
    .single-product .breadcrumb-sec{
		margin-bottom: 65px;
	}
	.single-product .fl-product{
		padding-bottom: 70px;
	}
	.related.products.related-pro-crtl{
		padding: 70px 0;
	}
	.related.products.related-pro-crtl h2{
		margin-bottom: 22px;
	}
	.woocommerce div.product .product_title{
		margin-bottom: 12px;
	}

	.woocommerce div.product .product_title{
		font-size: 25px;
	}
	.single-product .faq-detials-sec{
		padding: 70px 0 55px;
	}

}

@media(max-width: 767px){
	.single-product .wc-product-title{
		display: none!important;
	}
	.woocommerce div.product .product_title{
		display: block!important;
	}
	.woocommerce div.product div.images{
		margin-bottom: 40px;
	}
	.woocommerce .fl-product div.product div.images figure.woocommerce-product-gallery-wrap{
		max-width: 100%;
	}
	.custom-info-crtl.hide-xs{
		display:none!important;
	}
	.meta-crtl ul li{
	    padding-bottom: 18px;
	}
	.meta-crtl {
	    padding-bottom: 12px;
	}
	.cart .qty-price-wrap del span,
	.cart .qty-price-wrap del span bdi{
		font-size:14px;
	}
	.custom-info-crtl.custom-info-xs.show-xs{
		display: block!important;
	}
	.custom-info-crtl ul li{
		width:100%;
	}
	.custom-info-crtl ul li{
	    padding-left: 75px;
	}
	/*.related.products ul li{*/
	/*	width:50%!important;*/
	/*}*/
	.main-img-crtl .woocommerce-product-gallery__image {
	    height: 300px;
	}
	.main-img-crtl .woocommerce-product-gallery__image img{
	    max-height: 200px;
	    width: auto;
	}
	.term-geschenken .fl-products-cntlr ul.products > li{
	    padding: 0 6px 25px!important;    
	}
	.fl-products-cntlr ul.products {
        margin: 0 -6px!important;
    }
    
    .related-pro-crtl .hasRelatedProduct ul.slick-dots{
        margin-top:30px;
    }
    .related.products.related-pro-crtl{
        padding-bottom:60px;
    }
    .product-details-page .fl-product .wc-product-title{
        padding-top: 10px;
    }
    .product-details-page .fl-product{
        overflow: initial;
    }
    .product-details-page{
        overflow: hidden;
    }
    .term-geschenken .fl-products-cntlr {
        padding-top: 0;
    }
    .product-page-sidebar{
    	width: 100%;
    }
    .fltr-prdt-title{
    	margin-left: 20px;
    }
    .single-product .breadcrumb-sec{
		margin-bottom: 55px;
	}
	.single-product .fl-product{
		padding-bottom: 60px;
	}
	.related.products.related-pro-crtl{
		padding: 60px 0;
	}
	.woocommerce div.product .product_title{
		font-size: 24px;
	}
	.single-product .faq-detials-sec{
		padding: 60px 0 45px;
	}
	.single-product .back-to-dashboard-btn-cntlr{
		padding: 0 20px;
		margin: 0 -20px!important;
	}
}


@media(max-width: 575px){
	.long-desc h2{
	    font-size: 20px;
	}
	.summary-ctrl .qty-price-wrap > ins, .summary-ctrl .qty-price-wrap > ins span bdi {
	    font-size: 18px;
	}
	.cart .qty-price-wrap del span, .cart .qty-price-wrap del span bdi {
	    font-size: 16px!important;
	}
	body.single-product div.product form.cart .button {
        height: 40px!important;
        max-width: 344px!important;
        width: 100%!important;
        padding-left: 15px;
        padding-top: 9px!important;
        font-size: 12px!important;
    }
	body.single-product div.product form.cart .button:before{
	    left: 50%;
	     margin-left: -70px;
	    transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%,-50%);
	    -webkit-transform: translate(-50% ,-50%);
	}
	body.single-product div.product form.cart .button:before{
	    width: 18px;
	    height: 18px;
	    background-size: 100% auto;
	}
	.term-geschenken .fl-products-cntlr ul.products > li{
        padding: 0 10px 25px!important;    
	}
	.fl-products-cntlr ul.products {
        margin: 0 -10px!important;
    }
    .term-geschenken .fl-products-cntlr ul.products > li.fl-product-grd-full{
        width:100%!important;    
    }
    .woocommerce div.product .woocommerce-main-image img{
        max-width: 305px;
    }
    span.onsale,
    body.single-product .fl-product span.onsale, body.single-product .fl-product span.seller-flash{
        padding: 6px 12px!important;
        font-size: 10px!important;
        width: auto!important;
        height: auto!important;
    }
    
    .fl-product-grd .fl-trnsprnt-btn{
        font-size: 12px;
    }
    .price_slider_wrapper .price_slider_amount button.button{
        font-size: 12px!important;
        height: 32px;
    }
    .thumbnails-cntlr .thumb-bg > div {
        height: 80px;
    }
    .fl-product .price-quentity-ctrl form .variations tbody tr td .bootstrap-select > .dropdown-toggle{
        height: 40px!important;
    }
    body.single-product div.product form.cart .button{
        text-align: center;
    }
    body.single-product div.product form.cart .button:before{
        display: none;
    }
    .single-product .breadcrumb-sec{
		margin-bottom: 45px;
	}
	.single-product .fl-product{
		padding-bottom: 56px;
	}
	.woocommerce div.product .product_title{
		font-size: 22px;
	}
	.related.products.related-pro-crtl h2{
		font-size: 20px;
	}
	.thumbnails-cntlr{
		max-width: 325px;
	}
}

@media(max-width: 479px){
	.thumbnails-cntlr span {
	    display: none;
	}
	.thumbnails-cntlr .slick-slider ul.slick-dots{
		margin-top:25px;
	}
	.main-img-crtl .woocommerce-product-gallery__image {
	    height: 215px;
	}
	.term-geschenken .fl-products-cntlr ul.products > li{
	    width:100%!important;
	 }
    .related.products.related-pro-crtl h2 {
        margin-bottom: 25px;
    }
    .main-img-crtl{
    	box-shadow: initial;
    	margin-bottom: 0!important;
    }
    .thumbnails-cntlr .thumbnails{
    	padding-top: 0!important;
    }
    .main-img-crtl .woocommerce-product-gallery__image{
    	margin-bottom: 0;
    	padding: 0;
    }
    .woocommerce div.product .product_title{
		font-size: 20px;
	}
	.thumbnails-cntlr .thumbnails{
		margin: 0 -5px;
	}
	.thumbnails-cntlr .thumb-bg{
		padding: 0 5px;
	}
	.thumbnails-cntlr{
		max-width: 269px;
	}
	.thumbnails-cntlr .thumb-bg img{
		max-height: 50px;
	}
}

@media(max-width: 359px){
	.meta-crtl ul li strong, .cartbtn-wrap > strong{
		min-width: 70px;
		margin-right: 10px;
	}
	.thumbnails-cntlr .thumb-bg > div{
		padding: 5px;
	}
	.fl-singgle-pro-prev{
		margin-left: -24px;
	}
	.fl-singgle-pro-next{
		margin-right: -24px;
	}
	svg.pro-thumb-lft-arrow,
	svg.pro-thumb-rgt-arrow{
		height: 14px;
		width: 14px;
	}
}